<p> <%= @status.text %> [<%= @status.lcd %>] </p>

<p>
  <strong>Users:</strong><br />
  <% @status.users.each do |user| %>
    <%= link_to user.name, user %><br/>
  <% end %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
