<%= simple_form_for(@clock) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :users %>
    <%= f.association :statuses %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
