<p>
  <strong><%= pluralize @clock.users.length, 'User' %>:</strong><br />
  <% @clock.users.each do |user| %>
    <%= link_to user.name, user %>
    <% if user.hand && user.hand > 0 %>
      [Hand <%= user.hand %>]
    <% end %>
    <% if user.status %>
      (Currently: <%= user.status.text %>)
    <% end %><br />
  <% end %>
</p>

<p>
  <strong><%= pluralize @clock.statuses.length, 'Status' %>:</strong><br />
  <% @clock.statuses.each do |status| %>
    <%= link_to status.text, status %> [<%= status.lcd %>]<br />
  <% end %>
</p>

<p class='clock-id'>Clock ID: <%= @clock.id %></p>

<%= link_to 'Edit', edit_clock_path(@clock) %> |
<%= link_to 'Destroy', @clock, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', clocks_path %>
