<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @clock.users %>
</p>

<p>
  <strong>Statuses:</strong>
  <%= @clock.statuses %>
</p>

<%= link_to 'Edit', edit_clock_path(@clock) %> |
<%= link_to 'Back', clocks_path %>
