<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <%= link_to "Clock Locations", root_path %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <% if user_signed_in? %>
        <li><%= link_to "Clock", current_user.clock %></li>
      <% else %>
        <li><%= link_to "Clocks", clocks_path %></li>
      <% end %>
      <% if user_signed_in? %>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a><a>Current Status: <%= current_user.status.text %></a>
          <ul class="dropdown">
            <% current_user.clock.statuses.each do |status| %>
              <li><%= link_to status.text, status_update_path(current_user, status.lcd) %></li>
            <% end %>
            <li class="divider"></li>
            <li><a>See all &rarr;</a></li>
          </ul>
        </li>
      <% end %>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
        <li><%= link_to "Logged in as #{current_user.name}", current_user %></li>
        <li class="divider"></li>
        <li><%= link_to 'Logout', signout_path %></li>
      <% else %>
        <li><%= link_to 'Login', signin_path, class: 'button' %></li>
      <% end %>
    </ul>
  </section>
</nav>
